{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('bartik/classy.node') }}
<article{{ attributes.addClass(classes) }}>
  <header>
    <img src="{{ node.field_img_caja.entity.uri.value }}">
  </header>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    <h2>{{ title_attributes }}</h2>
    <p>{{ node.body.0.value | striptags }}<p>
    <a href="{{ url }}">Ver Más</a>
  </div>
</article>